<html>

    <head>
        <title>Preneurlab | Flask</title>
        <script type="text/javascript" src="{{ url_for('static', filename='home_en.js') }}"  ></script>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            .input-form{
                width: 400px;
            }
            .main-container{
                margin-top: 100px;
            }
            .analysis-btn{

                width: 100px;
                padding: 10px;
                font-size: 15px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>


           <div class="main-container">
              <center><h2 class="mb-3"> Welcome To Preneurlab!</h2></center>

              <br> <br>
                <center>


                    <p><b>Choose Chatbot Language.</b></p>
                    <button class="btn btn-success mt-3" onclick="document.location='https://cloud7.preneurlab.com/bn'">Try Bangla Chatbot</button>
                    <br>
                    <button class="btn btn-success mt-3" onclick="document.location='https://cloud7.preneurlab.com/en'">Try English Chatbot</button>
                    
                    <br> <br>
                    <p><b> Recommendation Engine</b></p>
                    <button class="btn btn-success mt-3" onclick="document.location='https://cloud7.preneurlab.com/recommendation'">Try Movie Recommendation</button>
                    <button class="btn btn-success mt-3" onclick="document.location='https://cloud7.preneurlab.com/robi_recommendation'">Try Telco Recommendation</button>
                   
                </center>

               

           </div>





    </body>

</html>





